*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#cp{
    width: 100vw;
    height: 100vh;
    background-color: #ECECEC;
    min-width: 100px;
    max-width: 1920px;
}


.mp{
    display: flex;
    color: white;
    text-indent: 50px;
}

.mp #tt{
    margin-top: 10px;
    margin-left: 5%;
    width: 30%;
    height: 100%;
    margin-right: 2%;
    font-size: 30px;
    background-color: red;
}

#ot ul{
    display: flex;
    height: 78%;
    list-style: none;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.txt{
    margin-left: 5%;
    width: 30%;
    text-indent: 10px;
    background-color: red;
}



